* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.search-section {
  padding: 15px 15px;
  background-color: rgb(65, 126, 240);
}

#search-form {
  margin: 0 auto;
  font: inherit;
  padding: 8px;
  max-width: 500px;
  display: flex;
  min-height: 50px;
}

input[type='text'] {
  flex: 1 1 auto;
  margin-right: 15px;
  border-radius: 5px;
  border: none;
  padding: 0 15px;
}

button[type='submit'] {
  border: none;
  border-radius: 5px;
  width: 80px;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);

  flex-grow: 1;
  justify-content: space-between;
}

.big-img-link {
  display: block;
}

.photo-card img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.load-more {
  display: block;
  width: 150px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: rgb(65, 126, 240);
  color: #fff;
  margin: 0 auto;
  transition: background-color 0.5s ease, color 0.5s ease;
  margin-top: 40px;
}

.load-more:hover {
  color: rgb(65, 126, 240);
  background-color: #fff;
  border: 1px solid rgb(65, 126, 240);
  cursor: pointer;
}
